.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html{
	width: 100%;
	height: auto;
}
body{
	width:100%;
	height: auto;
	text-align: center;
	margin: 0 auto;
	font-family:"FONT NAME", Helvetica, sans-serif;
	font-weight: bold !important;
}

#main{
	width: 100%;
	height: auto;
	margin:0 auto;
	float: left;
	display: flex;
	justify-content: center;
  	background-color: white;
}
.firstPage{
	width: 100%;
}
.container{
	width: 317px;
	height: auto;
	margin: 0 auto;
	/* display: flex;
    justify-content: center; */
}
#score{
	width: 20%;
	margin: 10px 40%;
	color: black;
	float: left;
	text-align: center;
	justify-content: center;
}

#line-1, #line-2{
	width: 100%;
	height: auto;
	float: left;
	justify-content: center;
}
.grey{
	width: 50px;
	height: 50px;
	float: left;
	border: 1px solid black;
	margin-right: 1px;
	margin-bottom: 1px;
	background-color: white;
	border-radius: 5px;
  opacity: 1;
}
#white{
	width: 50px;
	height: 50px;
	float: left;
	border: 1px solid black;
	margin-right: 1px;
	margin-bottom: 1px;
	background-color: white;
}
.ball{
	width: 40px;
	height: 40px;
	float: left;
	margin:5px 6px 6px 5px;
	border-radius: 50%;
	position:relative;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
  transform: translateZ(25px);
  opacity: 1;
	z-index: 1;
}
.active-ball{
	width: 40px;
	height: 40px;
	float: left;
	margin:5px 6px 6px 5px;
	border-radius: 50%;
	position:relative;
	outline: 3px solid rgb(255, 17, 0);
  outline-offset: 7px;
}
#grey_square{
	width: 50px;
	height: 50px;
	float: left;
	border: 1px solid black;
	margin-right: 1px;
	margin-bottom: 1px;
	background-color: lightgrey;
}

.red{
	background-color: red;
}
.blue{
	background-color: blue;
}
.green{
	background-color: green;
}
.yellow{
	background-color: yellow;
}
.purple{
	background-color: purple;
}
.beginning{
	width: 40%;
	margin: 20px 30%;
	position: relative;
}
.config{
	width: 100%;
	height: auto;
	margin: 20px 0;
}
.config h1{
	margin-top:0;
}
.tableSize{
	/* width: 50%;
	height: auto;
	display: inline-block; */
  width: 70%;
  float: left;
  display: block;
  margin: 0 15% 20px 15%;
  padding: 0;
  font-size: 14px;
}
.tableSizeTitle{
	width: 50%;
	height: auto;
	text-align: center;
	background-color: white;
	border: 1px solid black;
	padding: 5px;
	cursor: pointer;
	display: inline-block;
  margin-right: 5px;
}
#tableSizeSelect, #ballsQtySelect{
	width: auto;
	height: auto;
	padding: 5px;
}
select option{
	border: 2px solid black;
}
.select{
	display: inline-block;
}
.ballsQty{
	/* width: 50%;
	height: auto;
	display: inline-block; */
  width: 70%;
  float: left;
  display: block;
  margin: 0 15% 20px 15%;
  padding: 0;
  font-size: 14px;
}
.removedBallsQty{
	/* width:50%;
	height: auto;
	float: left;
	display: block;
	margin: 15px 25% 0 25%; */
  width: 70%;
  float: left;
  display: block;
  margin: 0 15% 20px 15%;
  padding: 0;
}
#removedQtySelect{
	width: auto;
	height: auto;
	padding: 5px;
}
.removedTitle{
	width: 50%;
	height: auto;
	text-align: center;
	background-color: white;
	border: 1px solid black;
	padding: 5px;
	cursor: pointer;
	display: inline-block;
  margin-right: 5px;
}
.reset_section{
	width: 20%;
	height: auto;
	margin:0 40% 20px 40%;	
}
.reset_button{
	border-radius: 5px;
	padding: 5px 32px;
	background-color: rgb(255, 136, 0);
}
.tableSize ul{
	display: none;
}
.startGame{
	width: 100%;
	height: auto;
	float: left;
	margin: 20px 0 10px 0;
}
.startGame button{
	background-color: rgb(0, 255, 13);
	border-radius: 5px;
	padding: 5px 10px;
}
.startGame a{
	text-decoration: none;
}
#resetGame{
	background-color: orange;
}

@media  (min-width: 768px) and (max-width: 1366px){

	.beginning{
		width: 50%;
		height: auto;
		margin: 0 25%;
		padding: 0;
		position: relative;
	}
	.tableSize{
		width: 100%;
		float: left;
		display: block;
		margin: 0 0 20px 0;
		padding: 0;
		font-size: 14px;
	}
	.ballsQty {
		width: 100%;
		float: left;
		display: block;
		margin: 0;
		padding: 0;
		font-size: 14px;
	} 
	.removedBallsQty{
		width: 100%;
		float: left;
		display: block;
		margin: 0;
		padding: 0;
	}
	.removedTitle{
		width: 50%;
		margin-top: 20px;
		font-size: 14px;
	}
	#score{
		width: 100%;
		margin: 10px 0;
	}
}

@media  (min-width: 200px) and (max-width: 767px){

	.beginning{
		width: 70%;
		height: auto;
		margin: 0 15%;
		padding: 0;
		position: relative;
	}
	.tableSize{
		width: 100%;
		float: left;
		display: block;
		margin: 15px 0;
		padding: 0;
	}
	.ballsQty{
		width: 100%;
		float: left;
		display: block;
		margin: 0;
		padding: 0;
	} 
	#score{
		width: 100%;
		margin: 10px 0;
	}
	.reset_section {
		width: 50%;
		height: auto;
		margin: 0 25% 20px 25%;
	}
}
